<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExpenseSOAP" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BasicHttpsBinding_IExpenseSOAP">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58931/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IExpenseSOAP" contract="DespesasWPF.ExpenseSOAP.IExpenseSOAP"
                name="BasicHttpBinding_IExpenseSOAP" />
            <endpoint address="https://despesassoap.azurewebsites.net/Service.svc"
                binding="customBinding" bindingConfiguration="BasicHttpsBinding_IExpenseSOAP"
                contract="DespesasWPF.AZURE_ExpenseSOAP.IExpenseSOAP" name="BasicHttpsBinding_IExpenseSOAP" />
        </client>
    </system.serviceModel>
</configuration>